<!DOCTYPE html>
<html lang="es">
  <head>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <nav id="navbar">
        <table>
          <tbody>
            <tr>
              <th>
                <a href="#welcome-section">HOME</a>
              </th>
              <th>
                <a href="#projects">HABILIDADES</a>
              </th>
              <th>
                <a href="#Contact">CONTACTANOS</a>
              </th>
            </tr>
          </tbody>
        </table>
      </nav>
    </header>
    <div id="page">
      <section id="welcome-section">
        <h1>BIENVENIDO A MI PORTAFOLIO CON EJS</h1>
        <table>
          <tbody>
            <tr>
              <th>
                <img id="img_me" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdY7u60vRBR7_oDfuuJd9M_mMaFkNgZYXDCw&usqp=CAU" />
                <h1>Hola, Me llamo ROSENDO</h1>
              </th>
              <th id="pe">
                <p>Un PROGRAMADOR EN FORMACION</p>
              </th>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="projects">
        <h1>HABILIDADES</h1>
        <div id="direction" class="project-title">
          <ul>
            <li>
              <a href="link_pagina" target="_blank">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcaTyqCOKsuj-dz8mwG_1MGtfHCZ9_zlEzjD37RgoJoMIsoW5XQ2PsGLtBJyz026hwfgU&usqp=CAU" />
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <h2>RESOLUCION DE PROBLEMAS</h2>
              <p>
                Identificar problemas, descomponerlos en partes más manejables y encontrar soluciones efectivas es una de mis fortalezas.
              </p>
            </li>
          </ul>
        </div>
        <div id="direction" class="project-title">
          <ul>
            <li>
              <a href="link_pagina" target="_blank">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUctGbn3PUIJNe9PW_dxJIcEQT3xsHNG5jEvdg06Bj_yfubTZ-2sCZRnP1u4_E_MiZf_o&usqp=CAU" />
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <h2>Tengo una base sólida en lógica y matemáticas.</h2>
              <p>Mi comprensión de la lógica y las matemáticas me ayuda a diseñar algoritmos eficientes y estructuras de datos efectivas.</p>
            </li>
          </ul>
        </div>
        <div id="direction" class="project-title">
          <ul>
            <li>
              <a href="link_pagina" target="_blank">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTM4d8bduc8_gZlyq-xKcvE2cJSdWNaRqNi4hItGpBNS81q7x3jamfFgLkeJddlmIii3h8&usqp=CAU" />
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <h2>Estoy familiarizado con varios frameworks y bibliotecas.</h2>
              <p>Tengo experiencia trabajando con frameworks y bibliotecas populares, como [mencionar ejemplos relevantes], lo que agiliza el desarrollo.</p>
            </li>
          </ul>
        </div>
        <div id="direction" class="project-title">
          <ul>
            <li>
              <a href="link_pagina" target="_blank">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYx-Zgh3TKltr6fd03BmoNBjSPZmF8h36PhQ&usqp=CAU" />
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <h2>Manejo sistemas de control de versiones como Git</h2>
              <p>Esto me permite rastrear cambios en el código y colaborar eficazmente con otros desarrolladores.</p>
            </li>
          </ul>
        </div>
        <div id="direction" class="project-title">
          <ul>
            <li>
              <a href="link_pagina" target="_blank">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRE0yQU3t0UwjYt-gjd3h2pToNCjhNXx8UvnA&usqp=CAU" />
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <h2>Puedo trabajar en equipo.</h2>
              <p>La colaboración con otros miembros del equipo es esencial, y estoy cómodo trabajando en entornos colaborativos.</p>
            </li>
          </ul>
        </div>
        <div id="direction" class="project-title">
          <ul>
            <li>
              <a href="link_pagina" target="_blank">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToQ6zy0iSP-gpCI7YxqhWEG2Z9rWY1xy8SbSqh3PmuN5DZGnYygC9TW33iHYcus9BckTk&usqp=CAU" />
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <h2>Tengo experiencia en desarrollo web</h2>
              <p>Estoy familiarizado con tecnologías como HTML, CSS y JavaScript, así como con marcos de trabajo y tecnologías web actuales.</p>
            </li>
          </ul>
        </div>
      </section>
      <section id="Contact">
        <section class="form_wrap">
        </section>
      </section>
      <section class="contact_info">
        <section class="info_title">
          <span class="fa fa-user-circle"></span>
          <h2>INFORMACION<br />DE CONTACTO</h2>
        </section>
        <section class="info_items">
          <p>
            <span class="fa fa-envelope"></span> rosendo.mescco@tecsup.edu.pe
          </p>
          <p>
            <span class="fa fa-mobile"></span> +51 910132978
          </p>
        </section>
        <form class="form_contact" action="">
          <h2>Envia un mensaje</h2>
          <div class="user_info">
            <label for="names">Nombres *</label>
            <input id="names" type="text" />
            <label for="phone">Telefono / Celular</label>
            <input id="phone" type="text" />
            <label for="email">Correo electronico *</label>
            <input id="email" type="text" />
            <label for="mensaje">Mensaje *</label>
            <textarea id="mensaje"></textarea>
            <input id="btnSend" type="button" value="Enviar Mensaje" />
          </div>
        </form>
      </section>
    </div>
    <footer>
      <span>ALFREDO, 2023</span>
    </footer>
  </body>
</html>
